*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Poppins-Regular, sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;

}

.login-form{
    width: 360px;
    background: #f1f1ff;
    height: 580px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.login-form h1 {
    text-align: center;
    margin-bottom: 60px;
}

.note{
    border-bottom: 2px solid rgb(133, 115, 115);
    position: relative;
    margin: 30px 0;
}

.note input{
    font-size: 15px;
    color: black;
    border: none;
    width: 100%;
    outline: none;
    padding: 0 8px;
    height: 40px;
    background:transparent;
    font-style: normal;
    font-weight: normal;
}

/* .note ::placeholder::before {
    content: attr(placeholder);
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    z-index: -1;
    
    transition: .5%;
}

.note ::placeholder::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, #ECE9E6 0%, #FFFFFF 100%);
    transition: .5%;

} */

.focus + placeholder::before{
    top: -5px;
}
.focus + placeholder::after{
    width: 100%;

}

.logbtn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(180deg, rgb(107, 112, 111) 99.99%, rgba(121, 137, 223, 0) 100%);
    background-size: 200%;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    line-height: 1.7;
    transition:  .5%;
    border-radius: 25px;
    margin-top: 40px;
}

.bottom{
    margin-top: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 1.4;
}

.bottom a {
    color: rgb(211, 73, 107);
}

.down check{
    size: 50px;
}

.punch{
    padding: 25px;
    margin-top: 1000px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center !important;
    font-size: 15px;
    margin: 50px;
    line-height: 1.7;
}

.span{
    font-size: 25px;
    color: #fff;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 60px;
    line-height: 1.7;
}
 

